
.App {
    background-color:#F8F9FA;
}
.header{
    text-align:center;
    padding-bottom:20px;

}

.header i{
    font-size: 50px;
}

.header a{
    font-size: 30px;
    color:#FF5627;
}

#moto {
    font-size: 15px;
    color:#5F6368;
}

.loadingImg{
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    margin:0px;
    padding:0px;
    margin:-95px 0 0 -95px;
}



