.CardContainer{
     position: relative;
 }



.footer{
    text-align:center;
    background-color:#495057;
    color:#F8F9FA;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:140px;
    padding-left:140px;
    margin:15px;
    border:0px;
    font-family: 'PT Serif', serif;
    border-radius: 10px;
    border-radius: 0px 0px 30px 10px;
}

@media only screen and (max-width: 600px) {
    .footer{
    padding:15px;
    }
}

.footer a{
    color: #FFC674;
}

#FooterButton{
    color: #495057;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    background-color: #F8F9FA;
    border-radius: 5px;
    text-shadow: 0px;
}

#github{
    color: #F8F9FA;
    font-size:30px;
    padding:0;
}
.CardBigText{
    color:#F2F6FD;
    background-color: #495057;
    width:100%;
    margin:0px;
    padding:0px;
    text-align: center;
}

.CardBigText a{
    font-size:40px;
    font-family: 'Crimson Text', serif;
    text-align: center;
}

.uppercase{
text-transform: uppercase;
}

.BusInformationCard{
    padding-bottom:15px;
    border:0px;
    font-family: 'PT Serif', serif;
    border-radius: 0px 0px 30px 10px;
}
.isRunning{background-color:#FFC674;}
.isNotRunning{background-color:#A00909; color:white;}



.countdown{
    padding-right: 10px;
    padding-left:25px;
    display: inline-block;
}
    .minute{
        padding:0px;
        margin:0px;
        text-align:center;
        font-size:30px;
    }
    .minute_text{
        padding:0px;
        margin:0px;
        text-align:center;
        font-size:10px;
    }

.BusDetails{
    padding-top:10px;
    float:left;
    display: inline-block;
    width:70%;
}

.blinking{
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{		color: inherit	}
    50%{	color: inherit	}
    60%{	color: transparent;	}
    100%{	color: inherit	}
}

